<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="social-icons">
          <ul>
            <li><a href="#"><img src="assets/icons/facebook.png" alt="Facebook"></a></li>
            <li><a href="#"><img src="assets/icons/instagram.png" alt="Instagram"></a></li>
            <!-- Agrega más enlaces e iconos según sea necesario -->
          </ul>
        </div>
        <div class="mosaic-text">
          <p>&copy; 2024 MOSAIC. Todos los derechos reservados.</p>
          <p>Diseñado con ❤️ por <a href="https://www.mosaic.com">DEV TEAM MOSAIC</a></p>
        </div>
      </div>
    </div>
  </footer>
  