<div class="container my-custom-margin">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/elmo.png" class="card-img-top" alt="PATRCIO">
          <div class="card-body">
            <h5 class="card-title">PATRICIO</h5>
            <p class="card-text">Descripción de la imagen 1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/elmo.png" class="card-img-top" alt="ELMOSCO">
          <div class="card-body">
            <h5 class="card-title">ELMOSCO</h5>
            <p class="card-text">Descripción de la imagen 2.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/elmo.png" class="card-img-top" alt="ELMOSO">
          <div class="card-body">
            <h5 class="card-title">ELMOSO</h5>
            <p class="card-text">Descripción de la imagen 3.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/elmo.png" class="card-img-top" alt="PATRCIO">
          <div class="card-body">
            <h5 class="card-title">PATRICIO</h5>
            <p class="card-text">Descripción de la imagen 1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/elmo.png" class="card-img-top" alt="ELMOSCO">
          <div class="card-body">
            <h5 class="card-title">ELMOSCO</h5>
            <p class="card-text">Descripción de la imagen 2.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/elmo.png" class="card-img-top" alt="ELMOSO">
          <div class="card-body">
            <h5 class="card-title">ELMOSO</h5>
            <p class="card-text">Descripción de la imagen 3.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="assets/images/elmo.png" class="card-img-top" alt="PATRCIO">
            <div class="card-body">
              <h5 class="card-title">PATRICIO</h5>
              <p class="card-text">Descripción de la imagen 1.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="assets/images/elmo.png" class="card-img-top" alt="ELMOSCO">
            <div class="card-body">
              <h5 class="card-title">ELMOSCO</h5>
              <p class="card-text">Descripción de la imagen 2.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="assets/images/elmo.png" class="card-img-top" alt="ELMOSO">
            <div class="card-body">
              <h5 class="card-title">ELMOSO</h5>
              <p class="card-text">Descripción de la imagen 3.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  