.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
  }

/* Path: mosaic-front/src/app/navbar/navbar.component.html */
.nav-links a {
    cursor: pointer;
  }

.nav-links a:hover {
    color: #f00;
  }
  