
<app-navbar></app-navbar>
<div class="welcome-container">
  <h1>Bienvenido a MOSAIC</h1>
  <p>Una galería de arte virtual</p>
  <div class="image-gallery">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
    <img src="assets/images/elmo.png" alt="Imagen de muestra">
  </div>
</div>
<app-footer *ngIf="showFooter"></app-footer>


