/* Cambiar el color de fondo del cuerpo de la página */
body {
    background-color: #333333;
    color: #fff; /* Ajusta el color del texto según sea necesario */
    margin: 0;
    padding: 0;
}

/* Estilos para la galería de imágenes */
.welcome-container {
    text-align: center;
    padding: 50px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* 4 imágenes por fila */
    gap: 5px; /* Espacio entre las imágenes */
    margin-bottom: 100px; /* Ajusta el margen inferior para dejar espacio para el footer */
}

.image-gallery img {
    width: 100%; /* Ajusta el ancho de las imágenes según sea necesario */
    height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos para el espacio entre la galería de imágenes y el footer */
.main-content {
    margin-bottom: 100px; /* Ajusta el margen inferior para dejar espacio para el footer */
}

/* Estilos para el footer */
app-footer {
    position: fixed;
    bottom: -100px; /* Oculta inicialmente el footer fuera de la pantalla */
    width: 100%;
    height: 100px; /* Ajusta la altura del footer según sea necesario */
    background-color: #333; /* Ajusta según sea necesario */
    color: #fff; /* Ajusta según sea necesario */
    text-align: center;
    padding: 20px 0;
    transition: bottom 0.5s ease; /* Agrega una transición suave para el cambio de altura del footer */
}

/* Cuando el footer se muestra, se desplaza hacia arriba */
.show-footer app-footer {
    bottom: 0;
}
